<template>
  <div>

    <!--    <div>{{ message }}</div>-->
    <!--    <button @click="click">click</button>-->
    <!--    <router-link to="/">HelloWord</router-link>-->
    <!--    <input v-model.trim.number="abc" placeholder="test de"/>-->
    <p>{{ abc }}</p>
    <!--    <button @click="total">click</button>-->
    <!--    <p>{{ money3 }}</p>-->
    <!--    <p>{{ totalComputed }}</p>-->
    <!--      <button @click="name = 'Vietanh2'">Click</button>-->
    <!--    <p>{{name}}</p>-->
    <p v-if="!loading">dang tai</p>
    <button class="addUser" @click="addModal">Add</button>
    <table id="customers">
      <tr>
        <th>Age</th>
        <th>Name</th>
        <th>Id</th>
        <th>Action</th>
      </tr>
      <tr v-for="item in info" :key="item.id">
        <td>{{ item.agekkk }}</td>
        <td>{{ item.namekkk }}</td>
        <td>{{ item.id }}</td>
        <td>
          <button @click="userInfo(item.id) ">Edit</button>
          <button @click="deleteUser(item.id)">Delete</button>
        </td>
      </tr>
    </table>
    <div v-if="showModal">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
              <div class="modal-header">
                <slot name="header">
                  Sua thong tin user
                </slot>
                <button class="closeModal" @click="closeModal">x</button>
              </div>
              <div class="modal-body">
                <slot name="body">
                  <table class="widthLabel">
                    <tr>
                      <td>
                        <label>Name</label>
                      </td>
                      <td>
                        <input v-model="infoUser.namekkk " type="text">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>Age</label>
                      </td>
                      <td>
                        <input v-model="infoUser.agekkk" type="number">
                      </td>
                    </tr>
                  </table>
                </slot>
              </div>

              <div class="modal-footer">
                <button class="modal-default-button" @click="editUser(infoUser.id)">
                  OK
                </button>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
    <div v-if="showModalAddUser">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
              <div class="modal-header">
                <slot name="header">
                  Them moi user
                </slot>
                <button class="closeModal" @click="closeModal">x</button>
              </div>
              <div class="modal-body">
                <slot name="body">
                  <table class="widthLabel">
                    <tr>
                      <td>
                        <label>Name</label>
                      </td>
                      <td>
                        <input v-model="nameUser" type="text">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>Age</label>
                      </td>
                      <td>
                        <input v-model="ageUser" type="number">
                      </td>
                    </tr>
                  </table>
                </slot>
              </div>
              <div class="modal-footer">
                <button class="modal-default-button" @click="createUser">
                  OK
                </button>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>

  </div>
</template>

<script>
import axios from 'axios';

export default {
  beforeCreate() {
    console.log(1, 'beforeCreate')
  },
  data() {
    //data ko thuoc vong doi, khoi tao du lieu
    console.log(2, ' data')
    return {
      infoUser: {
        id: '',
        agekkk: '',
        namekkk: '',
      },
      loading: false,
      showModal: false,
      showModalAddUser: false,
      nameUser: '',
      ageUser: '',
      money1: 1,
      money2: 1,
      money3: 0,
      money4: 0,
      info: null,
      message: 'thong bao',
      names: [
        {name: 'Khanh', age: 23, id: 1},
        {name: 'Viet anh', age: 26, id: 2},
      ],

      abc: '123',
      xyz: {
        name: 'Khanh', age: 23
      },
      name: 'Vietanh'
    }
  },
  created() {

    //thuong dung de viet API do du lieu ve
    console.log(3, 'created');
    this.listUser();

    // console.log(this)
    // console.log(document.getElementById('test').innerHTML)
  },
  beforeMount() {
    //truoc khi DOM duoc render ra
    console.log(4, 'beforeMount')
    // console.log(document.getElementById('test').innerHTML)
    console.log(5, 'DOM');
  },
  // DOM
  mounted() {
    //sau khi DOM chay xong, su dung jQuery
    console.log(6, 'mounted');
    // console.log(document.getElementById('test').innerHTML);
    // console.log(this.$el)
  },
  beforeUpdate() {
    //hien thi khi co su thay doi data, dom...
    // console.log(7, 'beforeUpdate')
  },
  updated() {
    //hien thi sau khi da thay doi thanh cong data, dom...
    // console.log(8, 'updated')
  },
  beforeDestroy() {
    //hien thi khi moi click vao trang
    console.log(9, 'beforeDestroy')
  },
  destroyed() {
    //hien thi khi da mo xong trang
    console.log(10, 'destroyed')
  },
  methods: {
    //Luon duoc goi khi goi ham
    //Dung de viet cac ham su kien nhu click, ...

    click() {
      this.message = 'thong bao 2'
    },
    doThis() {
      console.log('doThis')
    },
    listUser() {
      axios.get('https://5f79e3e6e402340016f93511.mockapi.io/listUser/user').then(khanhdz => {
        this.loading = true
        this.info = khanhdz.data
      });
    },
    userInfo(id) {
      // console.log(id)
      this.showModal = true;
      // console.log('test');

      axios.get('https://5f79e3e6e402340016f93511.mockapi.io/listUser/user/' + id).then(khanhdz => {
        this.infoUser = khanhdz.data
        // console.log(khanhdz)
      })
    },
    addModal() {
      this.showModalAddUser = true;

    },
    createUser() {
      // console.log(this.nameUser, this.ageUser)
      if (this.nameUser.trim() === '') {
        return alert('Khong de trong ten')
      }
      if (this.ageUser.trim() === '') {
        return alert('Khong de trong tuoi')
      }
      if (this.ageUser <= 0) {
        return alert('Tuoi khong dung')
      }
      axios.post('https://5f79e3e6e402340016f93511.mockapi.io/listUser/user/', {
        agekkk: this.ageUser,
        namekkk: this.nameUser
      }).then(res => {
        this.listUser();
        this.showModalAddUser = false;
        console.log(res)
      }).catch(error => {
        this.showModalAddUser = true;
        console.log(error)
        alert(error)
      });
    },
    editUser(id) {
      if (this.infoUser.namekkk.trim() === '') {
        return alert('Khong de trong ten')
      }
      if (this.infoUser.agekkk.trim() === '') {
        return alert('Khong de trong tuoi')
      }
      if (this.infoUser.agekkk <= 0) {
        return alert('Tuoi khong dung')
      }
      axios.put('https://5f79e3e6e402340016f93511.mockapi.io/listUser/user/' + id, {
        agekkk: this.infoUser.agekkk,
        namekkk: this.infoUser.namekkk
      }).then(res => {
        this.listUser();
        this.showModal = false;
        console.log(res)
      }).catch(error => {
        this.showModal = true;
        console.log(error)
        alert(error)
      });
    },
    deleteUser(id) {
      axios.delete('https://5f79e3e6e402340016f93511.mockapi.io/listUser/user/' + id).then(res => {
        this.listUser()
      })
    },
    closeModal() {
      this.showModalAddUser = false;
      this.showModal = false;
    }



    // 'forTest: function () {
    //   this.names.map(x => console.log(x.name,x.age));
    //
    // }'
  },
  computed: {
    //computed luu du lieu vao cache , no chi thay doi khi du lieu thay doi
    //Dung de viet nhung ham co dinh du lieu, it thay doi
    //Computed duoc xu ly truc tiep tren template
    totalComputed() {
      console.log('totalComputed')
      return this.money1 + this.money2;
    }
  },
  watch: {
    //Giam sat su thay doi cua doi tuong, neu doi tuong thay doi thi dung ham xu ly tuong ung
    //lang nghe bien , khi bien thay doi thi goi ham, ten bien chinh la ten ham

    name(newName, oldName) {
      console.log(1, newName, oldName)
    }
  },
  filters: {
    //dung de format lai du lieu va render truc tiep tren html
    currency(value) {
      var formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
        minimumFractionDigits: 0
      });
      return formatter.format(value);
    }
  }
}
</script>

<style scoped type="scss">
[v-cloak] {
  display: none;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  text-align: center;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.addUser {
  float: left;
  margin-bottom: 10px;
}

.widthLabel tr td:first-child {
  width: 80px !important;
}

.closeModal {
  float: right;
}
</style>
